<div class="createForm">
    <input type="text" placeholder="Név" [(ngModel)] = "perfumName">
    <input type="text" placeholder="Ajánlott Évszak" [(ngModel)] = "recommendedSeason">
    <input type="number" placeholder="Ár" [(ngModel)] = "price">
    <input type="text" placeholder="Kép Url" [(ngModel)] = "imageUrl">

    <button (click) = "editorService.createNewPerfum(perfumName, recommendedSeason, price, imageUrl); navigateToEditor()"
    [disabled] = "checkFill()">Termék felvétele</button>

</div>

<div class="createForm">
    <input type="Number" placeholder="Új Ár" [(ngModel)] = "priceToModify">
    <button [disabled] = "checkFillForModify()" (click) = "ModifyPrice()">Ár frissítése</button>

</div>


