# Node modules
/node_modules/

# Compiled output
/dist/
/out-tsc/

# Angular environment files
/src/environments/environment.prod.ts
/src/environments/environment.ts

# IDE/editor settings
/.vscode/
/.idea/

# OS-specifikus fájlok
.DS_Store
Thumbs.db

# Log fájlok
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Helyi konfigurációk
/.angular/cache/
/coverage/

# Git-hez kapcsolódó fájlok
.gitignore
