<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="parent">
    <div class="div1"><h1>Neroli</h1></div>
    <div class="div2"><app-header></app-header></div>
    <div class="div3"><app-navigation-bar></app-navigation-bar></div>
    <div class="div4"><router-outlet></router-outlet></div>
    <div class="div5"><app-footer></app-footer></div>
  </div>
</body>
</html>