.statisticDiv
{
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 1rem;
}

.barDiv{
  background-color: green;
}

.nameDiv{
  font-weight: bold;
  text-align: center;
}

h2{
  text-align: center;
  padding-top: 1.8rem;
}

p{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.priceDiv{
  text-align: center;
  font-weight: bold;
  background-color: aquamarine;
  margin-left: 25rem;
  margin-right: 25rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.seasonDiv{
  margin-left: 2rem;
  margin-top: 1rem;
  text-align: center;
  margin-left: 25rem;
  margin-right: 25rem;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 1rem;

}