.gridarea{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img{
    width: 13vw;
    height: 13vw;
    object-fit: contain;
}

button{
    background-color: rgb(55, 120, 225);
    border-radius: 2rem;
    color: white;
    width: 7rem;
    height: 2rem;

}

div{
    border: 0px;
}