.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    opacity: 0.6;
    height: 100%;
    border: 1px solid black;
}

body{
    margin: 0;
}
