img {
  width: 4vw;
  height: 4vw;
  object-fit: contain;
}

table {
  text-align: center;
}

td {
  vertical-align: middle;
}

button {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
